@tailwind base;
@tailwind components;
@tailwind utilities;

#check:checked ~ #nav-icons #nav-normal {
  display: none;
}

#check:checked ~ #nav-icons #nav-closed {
  display: block;
}

#check:checked ~ #nav-list {
  height: 100vh;
  padding: 3rem 0;
}

@media (min-width: 1024px) {
  #check:checked ~ #nav-list {
    height: auto;
    padding: 0;
  }
}
